<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>Montserrat-Semibold.otf</string>
		<string>Avenir Roman.otf</string>
		<string>Dense-Regular.otf</string>
		<string>black_jack.ttf</string>
		<string>SofiaRegular.otf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>nexalight.ttf</string>
		<string>museo_300_regular.ttf</string>
		<string>graphic_regular.ttf</string>
		<string>GoodDog.ttf</string>
		<string>FFF_Tusj.ttf</string>
		<string>Capture_it</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf</string>
		<string>Merriweather-VariableFont_opsz,wdth,wght.ttf</string>
	</array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
